
/*Nav Bar*/
nav {
	height: 100px;
	width: 100%;
	background-color: rgba(252, 126, 35);
	padding-top: 1.7%;
	position: relative;
}

nav span.sp-orange {
	color: #fff;
	font-size:33px;
	font-weight: 600;
}

nav span.sp-juice {
	color: #fff;
	font-size:33px;
	font-weight: 200;
}

nav sup {
	color: #fff;
	position: relative;
	top: -15px;
}

nav img {
	height: 50px;
	width: 75px;
	margin-left: 6%;
}

nav ul {
	display: inline-block;
	position: absolute;
	right: 0px;
	padding-right: 4%;
	padding-top: 10px;
}

nav ul li {
	display: inline;
	color: #fff;
	font-weight: 200;
	font-size: 25px;
	margin: 10px;
	transition: all .3s ease;
	cursor: pointer;
	text-transform: uppercase;
}

nav ul li:hover {
	color: #ffe500;
	transform: scale(2);
}

/*End of Navbar*/

main {
	height: 450px;
	width: 100%;
	position: relative;
}

/*Input */
input {
	display: block;
	height: 50px;
	width: 200px;
	position: relative;
	left: 80%;
	top: 20px;
	font-size: 25px;
	padding-left: 5px;
	background-color: rgba(240, 240, 240);
	border: none;
	box-shadow: 8px 8px 10px grey;
}

.fa-search {
	font-size: 25px;
	color: grey;
	position: relative;
	left: 93%;
	top: -15px;
	z-index: 33;
}
/*End of Input*/

/*Section Element*/
section {
	padding-left: 10%;
}
section img {
	height: 300px;
	width: 300px;
	position: relative;
	top: -20px;
}

section div {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: relative;
	top: 50px;
	left: 50px;
}

section div p {
	font-size: 35px;
	color: rgb(249, 127, 35);
	font-weight: 200;
	word-spacing: 5px;
	letter-spacing: 1.5px;
}

section span.sp-orange {
	font-weight: 600;
}

section sup {
	font-size: 15px;
	font-weight: 500;
	position: relative;
	top: -15px;
}

section div .blue {
	color: rgb(127, 204, 202);
}

section div a {
	height: 55px;
	width: 200px;
	color: #fff;
	font-weight: 200;
	font-size: 20px;
	display: inline-block;
	margin-right: 30px;
	margin-top: 25px;
	text-align: center;
	padding-top: 10px;
	transition: all .3s ease;
}

section div a:hover {
	text-decoration: none;
	background-color: #fff;
	margin-top: -5px;
}

a.blue-btn {
	background-color: rgb(127, 204, 202);
	transition: all .3s ease;
}

a.blue-btn:hover {
	border: 2px solid rgb(127, 204, 202);
	color: rgb(127, 204, 202);
}

a.orange-btn {
	background-color: rgb(249, 127, 35);
	transition: all .3s ease;
}

a.orange-btn:hover {
	border: 2px solid rgb(249, 127, 35);
	color: rgb(249, 127, 35);
}

/*End of Section Element*/

/*Footer*/
footer {
	height: 100px;
	width: 100%;
	background-color: rgb(127, 204, 202);
	text-align: center; 
}

footer i {
	font-size: 22px;
	color: #fff;
	margin: 20px;
	cursor: pointer;
	transition: all .3s ease;
}

footer i:hover {
	color: #ffe500;
	transform: scale(1.2);
}








